#gifContainer {
    width: 90vw; /* Fills the width of the phone */
    max-width: 500px;
    margin: 0 auto;
}

#gifContainer img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#noButton {
    background-color: #808080;
    color: white;
    transition: all 0.2s ease; /* Makes the 11 jumps look smooth and fast */
    z-index: 999; /* Ensures it stays on top of everything */
}
